.form{
  position: relative;
  top: 20%;
  left: 37%;
  width: 25%;
  margin-top: 90px;
}
.register{
  font-size: 1.4rem;
}
.register,.link_text,.link{
  text-align: center;
}
.link_text{
  color: gray;
}
.link a{
  text-decoration: none;
}
.message{
  color: red;
}
button{
  background-color: blue;
  color: white;
}
input,button{
  line-height: 2rem;
  width: 100%;
}
div{
  margin-bottom: 40px;
}
