.form{
  position: relative;
  top: 20%;
  left: 37%;
  width: 25%;
  margin-top: 90px;
}
.register{
  font-size: 1.4rem;
}
p{
  text-align: center;
}
p:nth-last-child(2){
  color: gray;
}
p:nth-last-child(3){
  text-decoration: none;
}
button{
  background-color: blue;
  color: white;
}
input,button{
  line-height: 2rem;
  width: 100%;
}
.ttl,input,button,.link{
  margin-bottom: 40px;
}
